.button-blue {
  background-color: #02a3fa;
  border-color: #02a3fa;
}

.button-blue.button-clear,
.button-blue.button-outline {
  background-color: transparent;
  color: #02a3fa;
}

.button-blue.button-clear {
  border-color: transparent;
}

input[type='color']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='month']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='week']:focus, input:not([type]):focus, textarea:focus, select:focus {
  border-color: #02a3fa;
  outline: 0;
}


.title {
  margin: 20px 0 20px 0;
}

#transform {
  margin-bottom: 20px;
  width: 100%;
}
